<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="What is my IP address?">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <title>IP Mutton: It's better than chicken!</title>
    <style>
        body {
            font-family: 'Oswald', sans-serif;
        }
        td { font-size: 0.8em; }
		.urls td { font-size: 1.2em; font-family: 'courier' }
		footer { color: #999; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand mb-0 h1">IP Mutton: it's better than chicken!</a>
    </nav>
	<%= yield %>
	
  </body>
</html>
